[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twython = "*"
flask = "*"
flask-socketio = "*"
eventlet = "*"
psycopg2 = "*"
selenium = "*"
webdriver-manager = "*"
parsel = "*"
pika = "*"
kombu = "*"
flask-cors = "*"
docker = "*"
pyrabbit = "*"
snakeviz = "*"
pyprof2calltree = "*"
pycurl = "*"
redis = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
