[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twython = "*"
flask = "*"
redis = "*"
rq = "*"
flask-socketio = "*"
eventlet = "*"
psycopg2 = "*"
rq-dashboard = "*"
selenium = "*"
webdriver-manager = "*"
parsel = "*"
pika = "*"
kombu = "*"

[dev-packages]

[requires]
python_version = "3.6"
