[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
snakeviz = "*"
pylint = "*"
pyprof2calltree = "*"
autopep8 = "*"

[packages]
twython = "*"
flask = "*"
flask-socketio = "*"
eventlet = "*"
selenium = "*"
webdriver-manager = "*"
parsel = "*"
pika = "*"
flask-cors = "*"
docker = "*"
redis = "*"
retry = "*"
psycopg2-binary = "*"
python-logstash = "*"
python-logstash-async = "*"
kombu = "*"
alembic = "*"

[requires]
python_version = "3.7"
