<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <meta name="robots" content="index,follow">

        <title>unpack.link</title>
        <link href="{{url_for('static', filename='base.css', v='1')}}"
              rel="stylesheet">

        <!-- View Styles -->
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}


        <!-- View Scripts -->
        <script src="{{url_for('static', filename='base.js', v='1')}}"
                type="text/javascript"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
